<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for FoxRem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/site.css">
</head>
<body>
<h1>Click to Dial</h1>
<form action="#" method="POST">
    <button type="submit">Dial</button>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>
